@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans:wght@400;600&display=swap');
:root{
    --bs-bg-color: #31186a;
    --bs-bg-colorFocus: #8769ce;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E003B;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
/* NAVBAR */
nav li{
    width: 100%;
}
 nav li a{
    color: #ffffff;
    font-weight: 600;
}
nav a, span{
    color: #ffffff !important;
    font-weight: 700;
}
nav .show{
    background-color: var(--bs-bg-color) !important;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.navbar-toggler{
    color: rgba(0,0,0,0.1) !important;
}
nav li:hover {
    background-color: var(--bs-bg-colorFocus);
    border-radius: 5px;
    width: 100%;
}
.navbar.active{
    background-color: var(--bs-bg-color);
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-nav{
    align-items: center;
}


/* LOGIN & REGISTRO ***************************************/
.bg {
    background-image: url(/assets/img/5269961.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.btn-principal  {
    padding: 0.7rem 2rem;
    /* margin-top: 1rem; */
    font-weight: bold;
    color: #ffffff;
    transition: 0.6s;
    background-color: #EB0CEB;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
@media (min-width: 768px) { 
    .btn-principal  {
        margin-top: 0;
    }
}

.btn-principal:hover {
    color: #ffffff;
    background-color: #9f01e9;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}
.btn-secondary {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 0.7rem 2rem;
}
.btn-secondary:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}


.shadow {
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
}
.vidrio {
    background: rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.invalid-feedback {
    color: #01d6fb;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #01d6fb;
}
.link-form a{
    
    font-weight: bold;
    color: #EB0CEB;
}


/******************************************* LOGIN ************************************/
.container-login {
    height: 100vh;
}
@media (min-width: 992px) { 
    .container-login {
        height: 90vh;
    }
}
.login-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.login-flex form {
    padding: 1.2rem;
}

@media (min-width: 361px) { 
    .login-flex form {
        padding: 2rem;
    }
    
}
@media (min-width: 480px) { 
    .login-flex form {
        padding: 3rem;
    }  
}
.login-flex h2 {
    margin-bottom: 2rem;
}
.login-form input {
    width: 15rem;
}
@media (min-width: 320px) { 
    .login-form input{
        width: 18rem;
    }   
}
@media (min-width: 480px) { 
    .login-form input{
        width: 20rem;
    }   
}
@media (min-width: 768px) { 
    .login-form input{
        width: 25rem;
    }   
}
.dnone {
    display: none;
}
/********** modal ****************/
.modal-content {
    padding: 1rem;
}
.modal-bg {
    background: #0E003B;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
.modal-body input {
    color: #ffffff;
}
/*********************************** REGISTRO*********************************/
.container-register {
    height: 75rem;
}
@media (min-width: 480px) { 
    .container-register {
        height: 75rem;
    }
}
@media (min-width: 1024px) { 
    .container-register {
        height: 60rem;
    }   
}
.login-flex .row {
    width: 100%;
}
@media (min-width: 480px) { 
    .login-flex .row {
        width: 70%;
    }
}
@media (min-width: 992px) { 
    .login-flex .row {
        width: 50%;
    }
}
.container-btn {
    width: 100%;
}
@media (min-width: 992px) { 
    .container-btn {
        display: flex;
        justify-content: flex-end;
    }
}
.flex-gender {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 576px) { 
    .flex-gender {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.container-btn > button {
    margin-bottom: 0.5rem;
}
#form-error,
#loginError {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #01d6fb;
}
.form-check-input.is-invalid, .was-validated .form-check-input:invalid {
    border-color: #01d6fb;
}
.form-check-input.is-invalid~.form-check-label, .was-validated .form-check-input:invalid~.form-check-label {
    color: #01d6fb;
}

/************************** Footer **************************/
.social-footer {
    display: flex;
    
    justify-content: center;
}
.link-footer ul{
    display: flex;
    padding-left: 0;
    
}
.link-footer ul li{
    display: flex;
    list-style: none;
    margin: 0.5rem;
     
}
.link-footer ul li a{
    position: relative;
    text-decoration: none;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.5s;
    overflow: hidden;
}
@media (min-width: 480px) { 
    .link-footer ul li a{        
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 768px) { 
    .link-footer ul li a{        
        width: 60px;
        height: 60px;
    }
}

.link-footer ul li a:hover {
    transform: translateY(-20px);
}
.link-footer ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.link-footer ul li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

@media (min-width: 768px) { 
    .link-footer ul li{
        display: flex;
        list-style: none;
        margin: 1rem;  
    }
    .link-footer ul li a{
        text-decoration: none;
        border-radius: 0.5rem;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1.7em;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 5px 45px solid rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.2);
    
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transition: 0.5s;
        overflow: hidden;
    }
    
    .link-footer ul li a:hover {
        transform: translateY(-20px);
    }
    .link-footer ul li a:before {
        content: '';
        
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(45deg) translateX(150px);
        transition: 0.5s;
    }
}
.pages-footer ul {
    padding-left:0;
    display: flex;
    justify-content: center;
}
.pages-footer li {
    margin: 0;
    list-style: none;
    margin: 1rem;
}
.pages-footer li a {
    text-decoration: none;
    color: #ffffff;
}
.pages-footer li a:hover {
    color: #EB0CEB;
}
/* ERROR */
.container-error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-error figure{
    height: 30rem;
}
.container-error figure img {
    height: 100%;
}
.text-error h1{
    font-size: 10rem;
    text-transform: uppercase;
}
.text-error a {
    color: #EB0CEB;
    text-decoration: none;
}

/* *********************ADMIN USUARIOS *****************************/
.tabla-container{
    height: 100vh;
}