*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E003B;
    color: #ffffff;
}

nav {
    height: 6vh;
}

.row {
    height: 94vh;

}


.login-flex{
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
@media (min-width: ) { 
    
}
.row h2 {
    margin-bottom: 2rem;
    text-align: left;
    display: flex;
    justify-self: flex-start;
}

.btn-rm {
    background: #EB0CEB;
    color: #ffffff;
    font-weight: bold;
}
.login-container {
    background-image: url(/assets/img/vecteezyneonpinkbackgroundDP05213_generated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover
}
form {
    padding: 3rem;
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.20);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}