@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&family=Poppins:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --bs-bg-color: #31186A;
     --bs-bg-colorFocus: #8769ce;
}

body {
    background-color: var(--bs-bg-color);
    color: #ffffff;
    font-family:'Nunito' ;
}
/* NAVBAR */
nav{
    background-color: var(--bs-bg-color);
}
nav li a{
    color: #ffffff;
    font-weight: 600;
}
nav a, span{
    color: #ffffff !important;
    font-weight: 700;
}

nav li:hover {
    background-color: var(--bs-bg-colorFocus);
    border-radius: 5px;
    width: 100%;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-nav{
    align-items: center;
}

/* HEADER  */
header{
    background-image: url(/assets/img/bg-principal.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* CARROUSEL DE DESTACADOS */

.imgDestacados{
    width: 20%;
    height: 10em;
}

@media (max-width: 992px){
    .d-none-sm-span{
        display: none;
    }
}

/* OTROS */

.login-flex{
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.row h2 {
    margin-bottom: 2rem;
    text-align: left;
    display: flex;
    justify-self: flex-start;
}

.btn-rm {
    background: #EB0CEB;
    color: #ffffff;
    font-weight: bold;
}
.login-container {
    background-image: url(/assets/img/vecteezyneonpinkbackgroundDP05213_generated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover
}
form {
    padding: 3rem;
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.20);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}