@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
.body-contact {
    min-height: 100vh
}
.aboutUs-flex{
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutUs-flex h1 {
    font-family: Merienda;
}
.aboutUs-container{
    background-image: url(/assets/img/5238994.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: contain;
}
.aboutUs-container > .row {
    height: 100%;
}
.aboutUs {
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.20);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-left: 8rem;
    margin-right: 8rem;
}
.aboutUs > h2 {
    color: #EB0CEB;
    font-family: Merienda;
    font-size: rem;
}
.container-members {
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.members img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
@media (max-width: 900px){
    .aboutUs {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .members {
        flex-wrap: wrap;   
    }
    .members img {
        width: 90px;
        height: 90px;
    }
}