@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&family=Poppins:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --bs-bg-color: #31186a;
     --bs-bg-colorFocus: #8769ce;
    }

    body {
        background-color: var(--bs-bg-color);
    color: #ffffff;
    font-family:'Nunito' ;
}
/* NAVBAR */
nav li{
    width: 100%;
}
nav li a{
    color: #ffffff;
    font-weight: 600;
}
nav a, span{
    color: #ffffff !important;
    font-weight: 700;
}
.navbar-toggler{
    color: rgba(0,0,0,0.1) !important;
}
nav li:hover {
    background-color: var(--bs-bg-colorFocus);
    border-radius: 5px;
    width: 100%;
}
.navbar.active{
    background-color: var(--bs-bg-color);
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-nav{
    align-items: center;
}
nav .navbar-collapse.collapse{
    display: none;
}
nav .navbar-collapse.collapse.show{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-bg-color) !important;
    height: 100vh;
    padding: 0;
    margin: 0;
}
/* PARA NAVBAR RESOLUCIONES PEQUEÑAS     */
.menuHamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
}
/* OTROS */
.principalSearch{
    display: flex;
    justify-content: end;    
}
.login-flex{
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* MENU APAREZCA CUANDO CRECE  */
.navbar-toggler{
    z-index: 1 !important;
}
.row h2 {
    margin-bottom: 2rem;
    text-align: left;
    display: flex;
    justify-self: flex-start;
}

.btn-rm {
    background: #EB0CEB;
    color: #ffffff;
    font-weight: bold;
}
.login-container {
    background-image: url(/assets/img/vecteezyneonpinkbackgroundDP05213_generated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover
}
form {
    padding: 3rem;
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.20);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
@media (max-width: 992px){
    .d-none-sm-span{
        display: none;
    }
}